[submodule "external/odin-glfw"]
	path = external/glfw
	url = https://github.com/shwaDev/odin-glfw.git
[submodule "external/odin-imgui"]
	path = external/imgui
	url = https://github.com/shwaDev/odin-imgui.git